{% extends 'index.html' %}

{% block content %}
<form method="POST" id="login" class="active">
    {% csrf_token %}
    <label for='username'>Username:</label>
    <input type="text" name="username" placeholder="Username" class="form-control">

    <label for="password">Password:</label>
    <input type="password" name="password" class="form-control" placeholder="Password">

    <input type="submit" value="Login">
</form>
{% endblock %}
    <script>
        "use strict";

        const body = document.body;
        const bgColorsBody = ["#ffb457", "#ff96bd", "#9999fb", "#ffe797", "#cffff1"];
        const menu = body.querySelector(".menu");
        const menuItems = menu.querySelectorAll(".menu__item");
        const menuBorder = menu.querySelector(".menu__border");
        const departmentPage = document.getElementById('departmentPage');
        const department = document.getElementById('department');
        const programs = document.getElementById('programs');
        const program = document.getElementById('program');
        const login = document.getElementById('login');
        const signin = document.getElementById('signin');
        const regist = document.getElementById('regist');
        const createNew = document.getElementById('createNew');
        const Home = document.getElementById('Home');
        const home = document.getElementById('home')
        let activeItem = menu.querySelector(".active");
        

        department.addEventListener('click', function() {
            departmentPage.style.display = 'block';
            home.style.display = 'none';
            programs.style.display = 'none';
            login.style.display = 'none';
            regist.style.display = 'none';
        })

        Home.addEventListener('click', function() {
            departmentPage.style.display = 'none';
            home.style.display = 'block';
            programs.style.display = 'none';
            login.style.display = 'none';
            regist.style.display = 'none';
        })

        program.addEventListener('click', function() {
            programs.style.display = 'block';
            departmentPage.style.display = 'none';
            home.style.display = 'none';
            login.style.display = 'none';
            regist.style.display = 'none';
        })

        signin.addEventListener('click', function() {
            programs.style.display = 'none';
            departmentPage.style.display = 'none';
            home.style.display = 'none';
            login.style.display = 'block';
            regist.style.display = 'none';
        })

        createNew.addEventListener('click', function() {
            programs.style.display = 'none';
            departmentPage.style.display = 'none';
            home.style.display = 'none';
            login.style.display = 'none';
            regist.style.display = 'block';
        })

        function clickItem(item, index) {
            menu.style.removeProperty("--timeOut");

            if (activeItem == item) return;

            if (activeItem) {
                activeItem.classList.remove("active");
            }
            item.classList.add("active");
            body.style.backgroundColor = bgColorsBody[index];
            activeItem = item;
            offsetMenuBorder(activeItem, menuBorder);
        }

        function offsetMenuBorder(element, menuBorder) {
            const offsetActiveItem = element.getBoundingClientRect();
            const left = Math.floor(offsetActiveItem.left - menu.offsetLeft - (menuBorder.offsetWidth - offsetActiveItem.width) / 2) + "px";
            menuBorder.style.transform = `translate3d(${left}, 0 , 0)`;
        }

        offsetMenuBorder(activeItem, menuBorder);

        menuItems.forEach((item, index) => {
            item.addEventListener("click", () => clickItem(item, index));
        })

        window.addEventListener("resize", () => {
            offsetMenuBorder(activeItem, menuBorder);
            menu.style.setProperty("--timeOut", "none");
        });