{% extends 'base.html' %}

{% block content %}

{% include 'nav.html' with register="active" %}
<section  id="signUp">
<div>
{% if registered %}
        <h1>Thank you for registering, We will get back to you shortly!</h1>

        <p style="text-align: right;"><a href="{% url 'index' %}">
                < Back To Home </a>
        </p>
{% else %}

<h1>
    Fill the form to register:
</h1>
<form method="POST" enctype="multipart/form-data" class="forms">
        {% csrf_token %}
        {{ user_form }}
        {{ profile_form }}        

<input type="submit" value="Register" class="btn btn-primary btn-block">
</form>

{% endif %}
</div>
</section>
{% endblock %}