{% extends 'base.html' %}

{% block content %}
{% include 'nav.html' with dash="active" %}
<section id="welcome">
    <div class="welcome">
        Welcome To ASKUALA
        <div>Welcome To ASKUALA</div>
        <div>Welcome To ASKUALA</div>
        <div>Welcome To ASKUALA</div>
        <div>Welcome To ASKUALA</div>
        <div>Welcome To ASKUALA</div>
    </div>
    <div id="home_description">
        <p>
            American College of Technology (ACT) Learning Management System.
        </p>
    </div>
    <div id="learn_more">
        <button><a href="https://www.actamericancollege.com/">Learn More</a></button>
    </div>
</section>

<section id="programs">
    
</section>
{% endblock %}