<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Askuala LMS</title>
</head>
<style>
    {% include "index.css" %}
</style>
<body class="flex items-center justify-center w-screen h-screen p-10 space-x-6 bg-gray-300">

    <menu class="menu">

        <button id="Home" class="menu__item active" style="--bgColorItem: #ff8c00;">Askuala</button>
        {% if user.is_authenticated %}
        <button id='dashboard' class='nenu_item' style="--bgColorItem: #0066ff;">
            Dashboard
        </button>

        <button id='course' class='nenu_item' style="--bgColorItem: #00ffd5;">
            Courses
        </button>

        <button id='notification' class='nenu_item' style="--bgColorItem: #5900ff;">
            Notififcation
        </button>

        <button id="signin" class="menu__item" style="--bgColorItem:#65ddb7;">
        Log Out
    </button>
        {% else %}
        <button id="department" class="menu__item" style="--bgColorItem: #f54888;">
        Departments
    </button>

        <button id="program" class="menu__item" style="--bgColorItem: #4343f5;">
    Programs
    </button>

        <button id="createNew" class="menu__item" style="--bgColorItem: #e0b115;"> 
        Register
    </button>

        <button id="signin" class="menu__item" style="--bgColorItem:#65ddb7;">
        Log In
    </button>
{% endif %}
        <div class="menu__border"></div>

    </menu>

    <div class="svg-container">
        <svg viewBox="0 0 202.9 45.5">
        <clipPath id="menu" clipPathUnits="objectBoundingBox" transform="scale(0.0049285362247413 0.021978021978022)">
        <path  d="M6.7,45.5c5.7,0.1,14.1-0.4,23.3-4c5.7-2.3,9.9-5,18.1-10.5c10.7-7.1,11.8-9.2,20.6-14.3c5-2.9,9.2-5.2,15.2-7
            c7.1-2.1,13.3-2.3,17.6-2.1c4.2-0.2,10.5,0.1,17.6,2.1c6.1,1.8,10.2,4.1,15.2,7c8.8,5,9.9,7.1,20.6,14.3c8.3,5.5,12.4,8.2,18.1,10.5
            c9.2,3.6,17.6,4.2,23.3,4H6.7z"/>
        </clipPath>
    </svg>
    </div>

    <div class="all">
        <!-- <div></div> -->
        <div id="home">
            Welcome to Askuala
        </div>
        <div id="departmentPage">
            <ul>
                <li><a href="#"> Computer Science </a></li>
                <li><a href="#"> Business Administration </a></li>
            </ul>
        </div>

        <div id="programs">
            <ul>
                <li><a href="#"> Master Science </a></li>
                <li><a href="#"> Bachelore Degree </a></li>
            </ul>
        </div>
        <!-- <div></div> -->
    </div>
    
    {% include "users/login.html" %}

    {% block content %}

    {% include "users/register.html" %}

    {% endblock %}

    <script>
        "use strict";

        const body = document.body;
        const bgColorsBody = ["#ffb457", "#ff96bd", "#9999fb", "#ffe797", "#cffff1"];
        const menu = body.querySelector(".menu");
        const menuItems = menu.querySelectorAll(".menu__item");
        const menuBorder = menu.querySelector(".menu__border");
        const departmentPage = document.getElementById('departmentPage');
        const department = document.getElementById('department');
        const programs = document.getElementById('programs');
        const program = document.getElementById('program');
        const login = document.getElementById('login');
        const signin = document.getElementById('signin');
        const regist = document.getElementById('regist');
        const createNew = document.getElementById('createNew');
        const Home = document.getElementById('Home');
        const home = document.getElementById('home')
        let activeItem = menu.querySelector(".active");
        

        department.addEventListener('click', function() {
            departmentPage.style.display = 'block';
            home.style.display = 'none';
            programs.style.display = 'none';
            login.style.display = 'none';
            regist.style.display = 'none';
        })

        Home.addEventListener('click', function() {
            departmentPage.style.display = 'none';
            home.style.display = 'block';
            programs.style.display = 'none';
            login.style.display = 'none';
            regist.style.display = 'none';
        })

        program.addEventListener('click', function() {
            programs.style.display = 'block';
            departmentPage.style.display = 'none';
            home.style.display = 'none';
            login.style.display = 'none';
            regist.style.display = 'none';
        })

        signin.addEventListener('click', function() {
            programs.style.display = 'none';
            departmentPage.style.display = 'none';
            home.style.display = 'none';
            login.style.display = 'block';
            regist.style.display = 'none';
        })

        createNew.addEventListener('click', function() {
            programs.style.display = 'none';
            departmentPage.style.display = 'none';
            home.style.display = 'none';
            login.style.display = 'none';
            regist.style.display = 'block';
        })

        function clickItem(item, index) {
            menu.style.removeProperty("--timeOut");

            if (activeItem == item) return;

            if (activeItem) {
                activeItem.classList.remove("active");
            }
            item.classList.add("active");
            body.style.backgroundColor = bgColorsBody[index];
            activeItem = item;
            offsetMenuBorder(activeItem, menuBorder);
        }

        function offsetMenuBorder(element, menuBorder) {
            const offsetActiveItem = element.getBoundingClientRect();
            const left = Math.floor(offsetActiveItem.left - menu.offsetLeft - (menuBorder.offsetWidth - offsetActiveItem.width) / 2) + "px";
            menuBorder.style.transform = `translate3d(${left}, 0 , 0)`;
        }

        offsetMenuBorder(activeItem, menuBorder);

        menuItems.forEach((item, index) => {
            item.addEventListener("click", () => clickItem(item, index));
        })

        window.addEventListener("resize", () => {
            offsetMenuBorder(activeItem, menuBorder);
            menu.style.setProperty("--timeOut", "none");
        });
    </script>
</body>

</html>