{% extends 'base.html' %}

{% block content %}
{% include 'nav.html' with dash="" login="active" %}
<section id="login">
<div>

<h1>Welcome Back!</h1>

<form method="POST">
    {% csrf_token %}
    <label for='username'>Username:</label>
    <input type="text" name="username" placeholder="Username" class="form-control">

    <label for="password">Password:</label>
    <input type="password" name="password" class="form-control" placeholder="Password">

    <input type="submit" value="Login">
</form>

</div>
</section>
{% endblock %}
