#login {
    margin: auto;
    margin-top: 10%;
    position: absolute;
    margin-left: 37%;
}
    #login{
        display: block;
        font-size: 18px;
        font-style: normal;
        color: #080330;
        width: 300px;
    }
    #login > label {
    padding: 0px;
    margin: 10px;
    }

#login > input[type=text], #login > [type=password] {
    padding: 15px;
    margin: 5px 10px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rebeccapurple;
    background-color: none;
}

#login > [type=submit] {
    padding: 15px;
    min-width: 100px;
    margin: 15px 100px;
    border: 2px solid rebeccapurple;
    background-color: transparent;
    color: rebeccapurple;
    font-size: medium;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#login > [type=submit]:hover {
    padding: 15px;
    margin: 15px 100px;
    min-width: 105px;
    text-align: center;
    background-color: rebeccapurple;
    color: white;
    box-shadow: 0 0 5px  rebeccapurple,
                0 0 25px rebeccapurple,
                0 0 50px rebeccapurple,
                0 0 200px rebeccapurple;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (max-width: 591px){
#login {
    margin-left: 10%;
}
}

    @media (min-width: 492px){
#login {
    margin-left: 20%;
}
}

@media(min-width: 792px){
#login {
    margin-left: 37%;
}
}
